<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local WhatsApp</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>All Chats!</h1>
    <br>
 
    <form method="GET" action="/chats/new">
        <button class="new-chat">New Chat</button>
        <br><br>
    </form>

    <%for (let chat of chats) {%>
        <div class="chat">
            <p><b>From</b>: <i><%= chat.from %> </i></p>
            <div class="msg">
                <p><b>Message</b>: <i><%= chat.msg %> </i></p>
                <form method="GET" action="/chats/<%= chat._id %>/edit">
                <button class="edit">Edit</button>
                </form>
                <br>
                <form method="POST" action="/chats/<%= chat._id %>?_method=DELETE">
                    <button id="delBtn">Delete</button>
                    </form>
            </div>
            <p><b>Received by</b>: <i><%= chat.to%> </i></p>
            <hr>
            <p><%= chat.created_at.toString().split(" ")[4] %></p>
            <p><%= chat.created_at.toString().split(" ").slice(0, 4).join("-") %></p>
        </div>
        <br><br>
    <% } %>
    <script src="/public/app.js"></script>
</body>
</html>

